.game-start {
  font-weight: 700;
  width: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  border: 1px solid $green;
  padding: 20px;
  text-transform: uppercase;

  label {
    display: block;
    margin-bottom: 10px;
  }
  input {
    outline: none;
    padding: 5px 10px;
    width: 165px;
    border: 1px solid $green;
    background-color: $black;
    color: $green;
    text-transform: uppercase;
    transition: all .2s;

    &:focus,
    &:hover {
      //box-shadow: 0 0 5px 1px $green;
      //outline: 1px solid $green;
    }
  }

  button {
    outline: none;
    background-color: $black;
    border: 1px solid $green;
    color: $green;
    font-size: 13px;
    padding: 5px 10px;
    text-transform: uppercase;
    transition: all .3s;

    &:focus,
    &:hover {
      background-color: $green;
      color: #000;
      font-weight: 700;
      cursor: pointer;
    }
  }
}
