@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/gilroylight.woff2") format("woff2"); }

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/gilroyextrabold.woff2") format("woff2"); }

body {
  margin: 0;
  padding: 0;
  font-family: Gilroy, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #00f70c;
  background-color: black; }

img {
  height: 100%;
  width: 100%;
  display: block; }

.game {
  width: 768px;
  margin: 0 auto; }

.game-start {
  font-weight: 700;
  width: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  border: 1px solid #00f70c;
  padding: 20px;
  text-transform: uppercase; }
  .game-start label {
    display: block;
    margin-bottom: 10px; }
  .game-start input {
    outline: none;
    padding: 5px 10px;
    width: 165px;
    border: 1px solid #00f70c;
    background-color: black;
    color: #00f70c;
    text-transform: uppercase;
    transition: all .2s; }
  .game-start button {
    outline: none;
    background-color: black;
    border: 1px solid #00f70c;
    color: #00f70c;
    font-size: 13px;
    padding: 5px 10px;
    text-transform: uppercase;
    transition: all .3s; }
    .game-start button:focus, .game-start button:hover {
      background-color: #00f70c;
      color: #000;
      font-weight: 700;
      cursor: pointer; }

.game-create {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  width: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  border: 1px solid #00f70c;
  padding: 20px; }
  .game-create__btn {
    outline: none;
    display: block;
    background-color: black;
    border: 1px solid #00f70c;
    color: #00f70c;
    font-size: 13px;
    padding: 5px 10px;
    text-transform: uppercase;
    transition: all .3s;
    cursor: pointer; }
    .game-create__btn--start-game {
      margin-bottom: 10px; }
    .game-create__btn:focus, .game-create__btn:hover {
      background-color: #00f70c;
      color: #000;
      font-weight: 700; }

.room {
  width: 768px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%); }

.stat {
  display: flex;
  padding: 0 20px; }
  .stat__event {
    margin: 10px 0;
    padding: 5px 20px;
    font-weight: 400;
    min-height: 60px;
    text-align: justify; }
  .stat__level {
    margin-left: 20px;
    padding: 0 10px;
    background: black;
    font-weight: 700; }
  .stat__move {
    margin-left: 70px;
    padding: 0 10px;
    background: black;
    font-weight: 700; }
  .stat__line {
    margin-top: -10px;
    width: auto;
    height: 1px;
    background-color: #00f70c; }

.navigation {
  font-weight: 400;
  padding-left: 40px;
  min-height: 87px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 21px 0; }
  .navigation__group {
    margin-bottom: 10px; }
  .navigation__group:first-child {
    margin-top: 5px; }
  .navigation__group:last-child {
    margin-bottom: 5px; }
  .navigation__label {
    margin-left: 50px;
    position: relative;
    cursor: pointer; }
    .navigation__label::before {
      content: "";
      width: 14px;
      height: 14px;
      position: absolute;
      left: -33px;
      top: 1px;
      border: 2px solid #00f70c;
      border-radius: 50%; }
    .navigation__label::after {
      display: none;
      content: "";
      width: 8px;
      height: 8px;
      position: absolute;
      left: -28px;
      top: 6px;
      background-color: #00f70c;
      border-radius: 50%; }
  .navigation input {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px; }
    .navigation input:checked ~ .navigation__label::after {
      display: block; }

.hero {
  margin: 5px 0;
  padding: 5px 20px;
  border-bottom: 1px solid #00f70c; }
  .hero__wrap {
    display: flex;
    justify-content: space-around; }
  .hero__race, .hero__class {
    margin: 5px 0 10px; }
  .hero__skills {
    padding: 0;
    margin: 0; }
  .hero__skill {
    list-style: none;
    padding-left: 0;
    margin-bottom: 4px; }
    .hero__skill:last-child {
      margin-bottom: 0; }
    .hero__skill span {
      font-weight: 700; }
  .hero__impacts {
    margin: 10px 0 6px;
    padding: 0;
    list-style: none;
    display: flex; }
    .hero__impacts li {
      margin-left: 10px; }
  .hero__negative {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #f71f00; }
  .hero__positive {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #00f70c; }
  .hero__link {
    margin-left: 100px;
    display: block;
    width: 150px;
    height: 100px; }
  .hero__inventory {
    margin: 0;
    padding: 0;
    margin-left: auto;
    list-style: none; }
  .hero__weapon {
    margin-bottom: 4px; }
    .hero__weapon:last-child {
      margin-bottom: 0; }
    .hero__weapon span {
      font-weight: 700; }

.inventory {
  box-sizing: border-box;
  display: flex;
  width: 768px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  border-top: 1px solid #00f70c;
  border-bottom: 1px solid #00f70c;
  flex-wrap: wrap;
  font-size: 16px; }
  .inventory__left {
    width: 344px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 270px; }
  .inventory__right {
    width: 344px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 270px; }
  .inventory__title {
    font-weight: 700;
    font-size: 21px;
    margin: 10px 0;
    width: 100%;
    text-align: center; }
  .inventory__description {
    margin: 0;
    line-height: 1.5;
    text-align: justify;
    font-size: 14px; }
    .inventory__description:first-letter {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.5; }
  .inventory__list {
    margin: 0;
    padding-left: 20px; }
  .inventory__item {
    padding-left: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    transition: all .3s; }
    .inventory__item:focus, .inventory__item:hover {
      background-color: #00f70c;
      color: #000;
      cursor: pointer;
      font-weight: 700; }
  .inventory__information {
    margin: 22px 0 10px;
    width: 100%;
    text-align: center; }
  .inventory__buttons {
    display: flex;
    margin: 10px 0 0;
    justify-content: space-around; }
  .inventory__btn {
    outline: none;
    background-color: black;
    border: 1px solid #00f70c;
    color: #00f70c;
    font-size: 11px;
    padding: 5px 0;
    width: 130px;
    text-transform: uppercase;
    transition: all .3s; }
    .inventory__btn:focus, .inventory__btn:hover {
      background-color: #00f70c;
      color: #000;
      font-weight: 700;
      cursor: pointer; }
  .inventory__close {
    outline: none;
    background-color: black;
    border: none;
    color: #00f70c;
    font-size: 13px;
    width: 30px;
    height: 30px;
    text-transform: uppercase;
    transition: all .3s;
    position: absolute;
    right: 35px;
    top: 25px; }
    .inventory__close:focus, .inventory__close:hover {
      background-color: #00f70c;
      color: #000;
      font-weight: 700;
      cursor: pointer; }

.fight {
  width: 768px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%); }

.monster {
  margin: 5px 0;
  padding: 10px 20px 5px;
  border-top: 1px solid #00f70c;
  display: flex; }
  .monster__link {
    position: relative;
    display: block;
    width: 150px;
    height: 100px;
    flex-shrink: 0; }
    .monster__link:hover .monster__description {
      display: block; }
  .monster__wrap {
    display: flex;
    flex-direction: column;
    margin: 0 10px; }
  .monster__description {
    display: none;
    position: absolute;
    color: #00f70c;
    background-color: black;
    text-align: justify;
    width: 500px;
    top: 68px;
    left: 114px;
    border: 1px solid #00f70c;
    padding: 5px 20px; }
  .monster__text {
    margin: 5px 0;
    font-size: 14px;
    text-align: justify; }
    .monster__text span {
      font-weight: 700; }
  .monster__name {
    margin: 0; }

.battle {
  min-height: 71px;
  padding: 0 20px;
  margin: 20px 0 5px; }
  .battle__wrap {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .battle__message {
    margin: 0;
    text-align: center;
    font-size: 16px; }
  .battle__warrior {
    margin: 0;
    width: 100px;
    text-align: center;
    font-size: 16px; }
  .battle__progress {
    width: 400px;
    height: 20px;
    background: linear-gradient(90deg, #00f70c 70%, #f71f00 30%);
    border: 1px solid #00f70c;
    margin: 6px 0 9px; }
  .battle__attack {
    margin: 0 auto;
    display: block;
    outline: none;
    background-color: black;
    border: 1px solid #00f70c;
    color: #00f70c;
    font-size: 11px;
    padding: 2px 20px;
    text-transform: uppercase;
    transition: all .3s;
    cursor: pointer; }
    .battle__attack:focus, .battle__attack:hover {
      background-color: #00f70c;
      color: #000;
      font-weight: 700; }

.modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: relative; }
  .modal__btn {
    outline: none;
    display: block;
    background-color: black;
    border: 1px solid #00f70c;
    color: #00f70c;
    font-size: 11px;
    padding: 5px 10px;
    text-transform: uppercase;
    transition: all .3s;
    cursor: pointer; }
    .modal__btn:focus, .modal__btn:hover {
      background-color: #00f70c;
      color: #000;
      font-weight: 700; }
  .modal__wrap {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    width: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
    border: 1px solid #00f70c;
    padding: 20px; }
  .modal__message {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 15px; }
