@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/gilroylight.woff2") format("woff2"); }

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/gilroyextrabold.woff2") format("woff2"); }

body {
  font-family: Gilroy, sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #00f70c;
  background-color: black; }

.game {
  width: 768px;
  margin: 0 auto; }

.game-start {
  width: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  border: 1px solid #00f70c;
  padding: 20px; }
  .game-start label {
    display: block;
    margin-bottom: 10px; }
  .game-start input {
    outline: none;
    padding: 5px 10px;
    width: 165px;
    border: 1px solid #00f70c;
    background-color: black;
    color: #00f70c;
    text-transform: uppercase;
    transition: all .2s; }
  .game-start button {
    outline: none;
    background-color: black;
    border: 1px solid #00f70c;
    color: #00f70c;
    font-size: 13px;
    padding: 5px 10px;
    text-transform: uppercase;
    transition: all .3s; }
    .game-start button:focus, .game-start button:hover {
      background-color: #00f70c;
      color: #000;
      font-weight: 700; }

.game-create {
  display: flex;
  flex-direction: column;
  width: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  border: 1px solid #00f70c;
  padding: 20px; }
  .game-create__btn {
    outline: none;
    display: block;
    background-color: black;
    border: 1px solid #00f70c;
    color: #00f70c;
    font-size: 13px;
    padding: 5px 10px;
    text-transform: uppercase;
    transition: all .3s; }
    .game-create__btn--start-game {
      margin-bottom: 10px; }
    .game-create__btn:focus, .game-create__btn:hover {
      background-color: #00f70c;
      color: #000;
      font-weight: 700; }
